@import './drugelis.css';

:root {
  --size: 360px;
  --speed: 20s;
  /* --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8); */
  --easing: linear;
  --color1: hsla(281, 78%, 55%, 0.8);
  --color2: hsla(168, 100%, 58%, 0.7);
  --bg-gradient: linear-gradient(var(--color1), var(--color2));
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  position: relative;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  scrollbar-gutter: stable;

}

#frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.noise {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/noise.webp);
  background-size: 7%;
  opacity: .5;
  mix-blend-mode: overlay;
  z-index: -10;
}

.blob {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 4));
  background-image: var(--bg-gradient);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -20;
}

@media (min-width: 680px) {
  .blob {
      --size: 460px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .blob {
      animation: rotate var(--speed) var(--easing) infinite;
  }

}

/* animação blob */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }